# Bot
BOT_TOKEN=5424991242:AAGwomxQz1p46bRi_2m3V7kvJlt5RjK9xr0
ADMIN_ID=1234567890
CHANNEL_ID=-1001234567890
CHANNEL_LINK=https://t.me/+xYz12AbCDeFgHiJK
GROUP_ID=-1341344727
SIGNATURE=some_signature

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=PgAdminSecurePass42!
PGADMIN_PORT=5050

# Redis
REDIS_DATABASE=1
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=default # <- Не менять!
REDIS_PASSWORD=default

# RabbitMQ
RABBITMQ_USER=default
RABBITMQ_PASSWORD=default
RABBITMQ_VHOST=bot_vhost

# Celery
CELERY_BROKER_URL=amqp://default:default@rabbitmq:5672/bot_vhost
CELERY_RESULT_BACKEND=redis://default:default@redis:6379/1