.idea/
.env
.redis_data/
.postgres_data/
.pgadmin_data/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
/database/terms.json
/database/incoming_terms.json
/database/backup_terms.json
/database/codeMappings.json
/database/mappingStructure.json
/database/newStructure.json
/scalene-profile.html
/test.py
/profile.json

